/*Matthew Lewis
AVF Term 1308
Main CSS File*/

/*background used was found at www.subtlepatterns.com*/

body {
    background-image:url('../img/paper.png');
   background-repeat:all; 
}

li {
	display:inline-block;
}