/*Matthew Lewis
AVF Term 1308
Main CSS File*/

/*background used was found at www.subtlepatterns.com
icons used in the "native features" section were found at http://all-free-download.com
*/
body {
    background-image:url('../img/paper.png');
   background-repeat:all; 
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

li {
	display:inline-block;
}

.section {
	background-image:url("../img/fabric.png");
	border:3px solid #80AAC2;
	border-radius:10px;
	padding-bottom: 5px;
	margin-bottom:15px;
	text-align:justify;

}
#subtitle {
	margin-top:-5px;
	text-align:center;
}

.info {
	color: #247CC1;
	text-align:center;
}

.center {
	text-align:center;
}

.icon {
	width:50px;
	height:50px;
}

.label {
	/*padding-right:40px;
	padding-left:5px;*/
	color: #247CC1;
	text-align:center;
}

#launch {
	font-size:200%;
	text-align:center;
}
.filler {
	width:100%;
    display: inline-block;
    height:0px;
}

img { max-width: 100%; }

.androidios img{
	padding:2px;
	border:3px solid #80AAC2;
	/*border:3px solid #8EAF7A;*/
	border-radius:10px;
}


@media only screen and (max-width: 320px) {
	body {
		width:100%;
		height:100%;
		background:green;
	}
	section {
		margin-left:5%;
		margin-right:5%;
	}
	li {
		display:block;
		margin-left:25%;
		padding-left:-80px;
		padding-bottom:10%;
	}
	.label {
		margin-left:0px;
		padding-right:50px;
	}

}
