/*Matthew Lewis
AVF phone css file
Term 1308*/



@media only screen and (max-width: 320px) {
	body {
		width:100%;
		height:100%;
	}
	section {
		margin-left:5%;
		margin-right:5%;
	}
	li {
		display:block;
		margin-left:25%;
		padding-left:-80px;
		padding-bottom:10%;
	}
	.label {
		margin-left:0px;
		padding-right:50px;
	}

}