/*Matthew Lewis
Advanced Visual Frameworks Term 1308
Android css file*/

html {
  height: 100%;
  width: 100%;
}

body {
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
}

.landscape, .landscape .ui-page, .portrait, .portrait .ui-page {
min-height: 100%;
min-width: 100%;
}

h1 {
    font-size:36px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.renameSection {
  display:none;
}

#flickrForm {
    display:none;
}

#instagramForm {
    display:none;
}

#instagramSearchSection {
    display:none;
}

#flickrSearchSection {
  display:none;
}
.ui-mobile-viewport, .ui-overlay-c {
      background:url('paper.png') no-repeat center center fixed;
      -webkit-background-size: cover;          
      -moz-background-size: cover;         
       -o-background-size: cover;          
       background-size: cover;
 }  
 
 img.center {   display: block;   margin-left: auto;   margin-right: auto; }

img { max-width: 100%; }

.ui-grid-a {
  background: #64D9EF;
}

input {
  display:block;
}


.imageDivs {
  display: inline;
  margin-left: 17%;
}

#networkError {
  display: none;
}

.errorText {
  color:red;
} 